.footer {
  position: relative;
  padding-top: 24px;
  padding-bottom: 64px;
}

.footer::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 32px;

  border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-nav {
  display: none;
}

.footer-logo-link > span {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  color: var(--main-black-color);
}

.footer-logo-link {
  display: flex;
  flex-direction: column;
  row-gap: 3px;

  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  color: var(--main-black-color);
}

.footer-list {
  display: flex;
  column-gap: 14px;
}

.footer-item {
  width: 20px;
  height: 20px;
}

.footer-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  fill: var(--main-black-color);
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 80px;
  }

  .footer::after {
    bottom: 48px;
  }

  .footer-list {
    column-gap: 16px;
  }

  .footer-item {
    width: 24px;
    height: 24px;
  }

  .footer-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 44px;
    padding-bottom: 160px;
  }

  .footer::after {
    bottom: 80px;
  }

  .footer-nav {
    display: block;
    margin-right: 370px;
  }

  .footer-nav-list {
    display: flex;
    gap: 32px;
  }

  .footer-nav-link {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.05em;
    color: var(--main-black-color);
  }

  .footer-logo-link > span {
    text-align: center;
  }

  .footer-list {
    margin-left: auto;
  }
}
