.footer {
  background-color: var(--main-white-color);
}

.footer::after {
  content: '';
  border: 0.5px solid rgba(18, 18, 18, 0.3);
}

.footer-logo-link > span {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  color: var(--main-black-color);
}

.footer-logo-link {
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  color: var(--main-black-color);
}

.footer-icon {
  fill: var(--main-black-color);
}
