.header {
  position: relative;
  background-color: var(--main-black-color);
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}
.icon-btn {
  display: inline-block;
  width: 28px;
  height: 28px;
  fill: var(--main-white-color);
  stroke: var(--main-white-color);
}

.header-logo-link {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  font-size: 6px;
  line-height: 1.33;
  letter-spacing: 0.18em;
  color: #d8d7d7;
}
.header-logo-link > span {
  margin: 0 auto 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.18em;
  color: var(--main-white-color);
}

.mobile-menu {
  display: none;
  text-align: center;
  padding-top: 128px;
  background-color: var(--main-black-color);
  z-index: 999;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  /* height: 100vh; */
}

.icon-menu-btn {
}
.header-nav {
}
.header-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header-nav-item {
}
.header-nav-link {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.05em;
  color: var(--main-white-color);
}

.menu-list {
  position: absolute;
  bottom: 24px;
  left: 20px;
  display: flex;
  gap: 14px;
}

.menu-item {
}
.menu-link {
}
.menu-icon {
  fill: var(--main-white-color);
}

@media screen and (min-width: 768px) {
  .header-logo-link > span {
    font-size: 20px;
    line-height: 1.2;
  }
  .header-logo-link {
    font-size: 8px;
    line-height: 1.25;
  }
}
