.welcome {
  background-color: var(--main-white-color);
}

.welcome-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .welcome-title {
    font-size: 36px;
    margin-bottom: 50px;
    margin-right: 270px;
  }
}

@media screen and (min-width: 768px) {
  .welcome-text-container {
    display: flex;
    gap: 32px;
    margin-bottom: 29px;
  }
}

.welcome-top-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  margin-bottom: 32px;
  margin-right: 29px;
}

@media screen and (min-width: 768px) {
  .welcome-top-text {
    margin: 0;
    min-width: 306px;
  }
}

.welcome-bottom-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  margin-bottom: 32px;
}

.welcome-img {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .welcome-img {
    margin-bottom: 80px;
  }
}
