:root {
  --main-text-color: #000000;
}

.welcome {
  background-color: #f6f6f6;
}

.welcome-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.welcome-top-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.welcome-bottom-text {
  font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--main-text-color);
}
