<section class="kitchen">
  <div class="container">
    <h2 class="kitchen-title">About kitchen</h2>
    <ul class="kitchen-pictures">
      <li class="kitchen-images list">
        <img
          class="kitchen-img"
          src="
        ../images/pages/restaurant-page/about-kitchen/about-kitchen-1-mobile@1x.jpg
      "
          alt="cook"
          width="335"
        />
      </li>
      <li class="kitchen-images list">
        <img
          class="kitchen-img"
          src="../images/pages/restaurant-page/about-kitchen/about-kitchen-2-mobile@1x.jpg"
          alt="meat"
          width="158"
        />
      </li>
      <li class="kitchen-images list">
        <img
          class="kitchen-img"
          src="../images/pages/restaurant-page/about-kitchen/about-kitchen-3-mobile@1x.jpg"
          alt="coctail"
          width="158"
        />
      </li>
    </ul>
    <p class="kitchen-top-text">
      At Mimino, we are experts in meat
      <span class="kitchen-text-italic">preparation</span>. Our chefs use only
      the finest and freshest ingredients to
      <span class="kitchen-text-italic">create delicious dishes</span> that
      showcase the flavors of premium cuts of meat.
    </p>
    <p class="kitchen-bottom-text">
      Our <span class="kitchen-text-italic">slow-cooking process</span> and
      expert seasoning bring out the best in each dish, making for an
      unforgettable dining experience. Come taste the magic
      <span class="kitchen-text-italic">of meat preparation at</span> Mimino.
    </p>
  </div>
</section>
