<section class="kitchen">
  <div class="container">
    <h2 class="kitchen-title">About kitchen</h2>
    <img
      class="kitchen-img"
      src="
        ../images/pages/restaurant-page/about-kitchen/about-kitchen-1-mobile@1x.jpg
      "
      alt="cook"
      width="335"
      height="443"
    />
    <img
      class="kitchen-img"
      src="../images/pages/restaurant-page/about-kitchen/about-kitchen-2-mobile@1x.jpg"
      alt="meat"
      width="158"
      height="149"
    />
    <img
      class="kitchen-img"
      src="../images/pages/restaurant-page/about-kitchen/about-kitchen-3-mobile@1x.jpg"
      alt="coctail"
      width="158"
      height="149"
    />
    <p class="kitchen-top-text">
      At Mimino, we are experts in meat preparation. Our chefs use only the
      finest and freshest ingredients to create delicious dishes that showcase
      the flavors of premium cuts of meat.
    </p>
    <p class="kitchen-bottom-text">
      Our slow-cooking process and expert seasoning bring out the best in each
      dish, making for an unforgettable dining experience. Come taste the magic
      of meat preparation at Mimino.
    </p>
  </div>
</section>
