<section class="restaurant-menu" id="restaurant-menu">
  <div class="container restaurant-menu-container">
    <h2 class="restaurant-menu-title">Restaurant menu</h2>
    <div class="restaurant-menu-main-wrap">
      <div class="restaurant-menu-wrap">
        <h3 class="restaurant-menu-subtitle italic">Hot meals</h3>
        <ul class="restaurant-menu-list">
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Veal borscht with beans</h4>
              <p class="restaurant-menu-text">
                Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                tomatoes, greens, sour cream
              </p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">400 g</p>
              <p class="restaurant-menu-price">240 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Cheese soup with chicken</h4>
              <p class="restaurant-menu-text">
                Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                greens
              </p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">400 g</p>
              <p class="restaurant-menu-price">200 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Carbonara pasta</h4>
              <p class="restaurant-menu-text">
                Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
              </p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">400 g</p>
              <p class="restaurant-menu-price">430 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Pork steak</h4>
              <p class="restaurant-menu-text">
                Pork tenderloin, spices, served with sweet chili sauce and
                vegetables
              </p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">400 g</p>
              <p class="restaurant-menu-price">500 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">
                Gorbusha in white wine sauce
              </h4>
              <p class="restaurant-menu-text">
                Tender redfish, cream sauce based on white wine
              </p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">400 g</p>
              <p class="restaurant-menu-price">400 UAH</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="restaurant-menu-wrap">
        <h3 class="restaurant-menu-subtitle italic">Side dishes and snacks</h3>
        <ul class="restaurant-menu-list">
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Baked vegetables</h4>
              <p class="restaurant-menu-text">
                Zucchini, pepper, tomato, eggplant
              </p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">200 g</p>
              <p class="restaurant-menu-price">230 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">French fries</h4>
              <p class="restaurant-menu-text">Potatoes, tomato sauce</p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">150 g</p>
              <p class="restaurant-menu-price">160 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Peasant-style potatoes</h4>
              <p class="restaurant-menu-text">Potatoes, spices, spicy sauces</p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">150 g</p>
              <p class="restaurant-menu-price">160 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">
                Crisp pickles from the barrel
              </h4>
              <p class="restaurant-menu-text">
                Salted cucumber, pickled tomato, sauerkraut, Korean carrot
              </p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">250 g</p>
              <p class="restaurant-menu-price">350 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">
                Chicken wings in honey sauce
              </h4>
              <p class="restaurant-menu-text">
                Chicken wings, mustard-honey sauce, served with carrots, celery
                and blue cheese sauce
              </p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">400 g</p>
              <p class="restaurant-menu-price">320 UAH</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="restaurant-menu-wrap">
        <h3 class="restaurant-menu-subtitle italic">Salads</h3>
        <ul class="restaurant-menu-list">
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Caesar with chicken</h4>
              <p class="restaurant-menu-text">
                Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                croutons, Caesar sauce
              </p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">230 g</p>
              <p class="restaurant-menu-price">450 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Caesar with shrimp</h4>
              <p class="restaurant-menu-text">
                Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                croutons, caesar sauce
              </p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">230 g</p>
              <p class="restaurant-menu-price">300 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Greek salad</h4>
              <p class="restaurant-menu-text">
                Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                lettuce, sauce
              </p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">230 g</p>
              <p class="restaurant-menu-price">280 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Meat salad</h4>
              <p class="restaurant-menu-text">
                Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell
                pepper, ranch sauce
              </p>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-weight">230 g</p>
              <p class="restaurant-menu-price">300 UAH</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="restaurant-menu-wrap">
        <h3 class="restaurant-menu-subtitle italic">Desserts</h3>
        <ul class="restaurant-menu-list">
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Napoleon cake</h4>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-price">200 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Poppy cake</h4>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-price">300 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Tiramisu</h4>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-price">260 UAH</p>
            </div>
          </li>
        </ul>
        <h3 class="restaurant-menu-subtitle italic">Drinks</h3>
        <ul class="restaurant-menu-list">
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Black/green tea</h4>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-price">100 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Espresso</h4>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-price">100 UAH</p>
            </div>
          </li>
          <li class="restaurant-menu-item">
            <div class="restaurant-menu-text-wrap">
              <h4 class="restaurant-menu-dishes">Cappuccino</h4>
            </div>
            <div class="restaurant-price-wrap">
              <p class="restaurant-menu-price">100 UAH</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <button
      class="restaurant-menu-btn btn"
      data-restaurant-modal-open-second
      type="button"
    >
      book a table
    </button>
  </div>
</section>
