<section class="restaurant-menu">
  <div class="container">
    <h2 class="restaurant-menu-title">RESTAURANT MENU</h2>
    <h3 class="restaurant-menu-subtitle">Hot meals</h3>
    <ul class="restaurant-menu-list list">
      <li class="restaurant-menu-item">
        <p class="restaurant-menu-dishes">Veal borscht with beans</p>
        <p class="restaurant-menu-desc">
          Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes,
          greens, sour cream
        </p>
        <p class="restaurant-menu-weight">400 g</p>
        <p class="restaurant-menu-price">240 UAH</p>
      </li>
      <li class="restaurant-menu-item">
        <p class="restaurant-menu-dishes">Cheese soup with chicken</p>
        <p class="restaurant-menu-desc">
          Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens
        </p>
        <p class="restaurant-menu-weight">400 g</p>
        <p class="restaurant-menu-price">200 UAH</p>
      </li>
      <li class="restaurant-menu-item">
        <p class="restaurant-menu-dishes">Carbonara pasta</p>
        <p class="restaurant-menu-desc">
          Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
        </p>
        <p class="restaurant-menu-weight">400 g</p>
        <p class="restaurant-menu-price">430 UAH</p>
      </li>
      <li class="restaurant-menu-item">
        <p class="restaurant-menu-dishes">Pork steak</p>
        <p class="restaurant-menu-desc">
          Pork tenderloin, spices, served with sweet chili sauce and vegetables
        </p>
        <p class="restaurant-menu-weight">400 g</p>
        <p class="restaurant-menu-price">500 UAH</p>
      </li>
      <li class="restaurant-menu-item">
        <p class="restaurant-menu-dishes">Gorbusha in white wine sauce</p>
        <p class="restaurant-menu-desc">
          Tender redfish, cream sauce based on white wine
        </p>
        <p class="restaurant-menu-weight">400 g</p>
        <p class="restaurant-menu-price">400 UAH</p>
      </li>
    </ul>
    <button class="restaurant-menu-btn btn" type="button">book a table</button>
  </div>
</section>
