.backdrop-main,
.backdrop-main-second,
.backdrop-hotel,
.backdrop-restaurant,
.backdrop-room {
  display: none;
}
.backdrop-main.is-hidden,
.backdrop-main-second.is-hidden,
.backdrop-hotel.is-hidden,
.backdrop-restaurant.is-hidden,
.backdrop-room.is-hidden {
  display: block;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--cubic-bezier), visibility var(--cubic-bezier);
}
