.double-room {
}

.double-room-list {
}

.double-room-item {
}
.double-room-img {
}

.double-room-title {
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
}

.double-room-text {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
}
.double-room-btn-list {
}
.double-room-btn-item {
}
.double-room-link {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  transition: background-color var(--cubic-bezier),
    box-shadow var(--cubic-bezier);
}

.double-room-btn {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  transition: background-color var(--cubic-bezier),
    box-shadow var(--cubic-bezier);
}
.double-room-link:is(:hover, :focus),
.double-room-btn:is(:hover, :focus) {
  color: var(--main-white-color);
  background-color: var(--main-black-color);
  border-color: var(--main-black-color);
}
