.double-room {
}

.double-room-list {
}

.double-room-item {
}
.double-room-img {
}

.double-room-title {
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main-black-color);
}

.double-room-text {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main-black-color);
}
.double-room-btn-list {
}
.double-room-btn-item {
}
.double-room-link {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main-black-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.double-room-link:hover,
.double-room-link:focus {
  color: var(--main-white-color);
  background-color: var(--main-black-color);
  border-color: var(--main-black-color);
}

.double-room-btn {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.double-room-btn:hover,
.double-room-btn:focus {
  color: var(--main-white-color);
  background-color: var(--main-black-color);
  border-color: var(--main-black-color);
}
