.four-room-title {
    font-size: 32px;
    line-height: 0.94;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--main-black-color);
}

.four-room-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--main-black-color);
}

.btn {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--main-black-color);
    border-color: var(--main-black-color);
    padding: 8px 18px;
}