.four-room {
  padding-bottom: 64px;
}

.four-room-img-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 19px;
  margin-bottom: 32px;
}

.four-room-thumb {
  display: flex;
  flex-direction: column;
}

.text-wrapper {
  max-width: 335px;
  margin-bottom: 28px;
}

.four-room-title {
  font-size: 32px;
  line-height: 0.94;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  margin-bottom: 32px;
}

.four-room-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
}

.four-room-btn-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}

.four-room-btn,
.four-room-link {
  color: var(--main-black-color);
  transition: background-color var(--cubic-bezier), color var(--cubic-bezier),
    border-color var(--cubic-bezier);
}

.four-room-link:is(:hover, :focus),
.four-room-btn:is(:hover, :focus) {
  color: var(--main-white-color);
  background-color: var(--main-black-color);
  border-color: var(--main-black-color);
}

@media screen and (min-width: 768px) {
  .four-room {
    padding-bottom: 80px;
  }
  .four-room-img-list {
    flex-direction: row-reverse;
    margin-bottom: 40px;
    gap: 32px;
    position: relative;
  }

  .four-room-img-item:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .text-wrapper {
    max-width: 475px;
    margin-bottom: 40px;
  }
  .four-room-title {
    font-size: 40px;
    line-height: 1.1;
  }
  .four-room-text {
    font-size: 18px;
    line-height: 1.33;
  }
  .four-room-btn-list {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .four-room {
    padding-bottom: 100px;
  }
  .four-room-img-list {
    margin-bottom: 50px;
    flex-wrap: nowrap;
    align-items: center;
  }
  .four-room-img-item:nth-child(1) {
    display: flex;
    order: 2;
  }
  .four-room-img-item:nth-child(2) {
    display: flex;
    order: 3;
  }
  .four-room-img-item:nth-child(3) {
    display: flex;
    order: 1;
    position: static;
  }
  .four-room-thumb {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
  .text-wrapper {
    margin-bottom: 0px;
  }
  .four-room-title {
    margin-bottom: 40px;
  }
}
