.hero-hotel {
  background-color: var(--main-white-color);
}
.hero-hotel-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
}
.hero-hotel-btn {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  transition: color var(--cubic-bezier), background-color var(--cubic-bezier),
    border-color var(--cubic-bezier);
}
.hero-hotel-btn:is(:hover, :focus) {
  color: var(--main-white-color);
  background-color: var(--main-black-color);
  border-color: var(--main-black-color);
}
.hero-hotel-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;
  color: var(--main-black-color);
}
