
.triple-room-title {
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--main-black-color);
}

.triple-room-top-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--main-black-color);
}

.triple-room-bottom-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--main-black-color);
}

.btn {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--main-black-color);
    border: 0.8px solid var(--main-black-color);
    padding: 8px 18px;
    
}
