.about-kitchen-top-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  margin-bottom: 24px;
}

.about-kitchen-bottom-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  margin-bottom: 64px;
}

.about-kitchen-item {
  display: flex;
  margin-bottom: 20px;
}

.about-kitchen-img-container {
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
}
