.about-kitchen {
  padding-top: 64px;
  padding-bottom: 64px;
}

.about-kitchen-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  margin-bottom: 32px;
}

.about-kitchen-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  max-width: 335px;
}

.about-kitchen-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

@media screen and (min-width: 768px) {
  .about-kitchen {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .about-kitchen-list {
    position: relative;
    margin-bottom: 40px;
    column-gap: 32px;
    flex-direction: row-reverse;
  }

  .about-kitchen-item:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .about-kitchen-wrap {
    flex-direction: row;
    column-gap: 32px;
  }

  .about-kitchen-text:nth-child(1) {
    font-size: 18px;
    line-height: 1.33;
    max-width: 349px;
  }
  .about-kitchen-text:nth-child(2) {
    font-size: 18px;
    line-height: 1.33;
    max-width: 323px;
  }
}

@media screen and (min-width: 1440px) {
  .about-kitchen {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about-kitchen-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .about-kitchen-list {
    flex-direction: row;
  }

  .about-kitchen-item:nth-child(3) {
    position: static;
  }

  .about-kitchen-wrap {
    position: absolute;
    bottom: 33px;
    margin-left: 543px;
    column-gap: 22px;
  }

  .about-kitchen-text:nth-child(1) {
    font-weight: 500;
    max-width: 334px;
  }

  .about-kitchen-text:nth-child(2) {
    font-weight: 500;
    max-width: 453px;
  }
}
