.about-kitchen-top-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  margin-bottom: 24px;
}

.about-kitchen-bottom-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  margin-bottom: 64px;
}

.about-kitchen-item {
  display: flex;
  margin-bottom: 20px;
}

.about-kitchen-img-container {
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .about-kitchen-list {
    display: flex;
  }

  .about-kitchen-item {
    margin-bottom: 16px;
  }

  .about-kitchen-img-container {
    display: block;
    margin-right: 32px;
    margin-bottom: 28px;
  }

  .about-kitchen-item:first-child {
    order: 2;
  }

  .about-kitchen-text {
    display: flex;
    gap: 32px;
    margin-bottom: 16px;
  }

  .about-kitchen-top-text,
  .about-kitchen-bottom-text {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .about-kitchen-wrapper {
    position: relative;
    margin-bottom: 84px;
  }

  .about-kitchen-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
  }

  .about-kitchen-item:first-child {
    order: inherit;
  }

  .about-kitchen-list {
    align-items: flex-start;
    gap: 32px;
  }

  .about-kitchen-img-container {
    display: flex;
    gap: 32px;
    margin: 0;
  }

  .about-kitchen-text {
    position: absolute;
    bottom: 0;
    margin-right: 13px;
  }

  .about-kitchen-top-text {
    font-weight: 500;
    width: 334px;
  }

  .about-kitchen-bottom-text {
    font-weight: 500;
    width: 453px;
  }
}
