.hero-restaurant {
  padding-top: 40px;
  padding-bottom: 64px;
  background-color: var(--main-white-color);
}
.hero-restaurant-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  padding-bottom: 24px;
}
.hero-restaurant-list {
  display: flex;
  column-gap: 12px;
  padding-bottom: 40px;
}
.hero-restaurant-btn {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  transition: background-color var(--cubic-bezier), color var(--cubic-bezier),
    border-color var(--cubic-bezier);
}

.hero-restaurant-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-black-color);
  transition: background-color var(--cubic-bezier), color var(--cubic-bezier),
    border-color var(--cubic-bezier);
}

.hero-restaurant-link:is(:hover, :focus),
.hero-restaurant-btn:is(:hover, :focus) {
  color: var(--main-white-color);
  background-color: var(--main-black-color);
  border-color: var(--main-black-color);
}
.hero-restaurant-img {
  padding-bottom: 100px;
}
.hero-restaurant-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;
  color: var(--main-black-color);
  max-width: 338px;
}
@media screen and (min-width: 768px) {
  .hero-restaurant {
    padding-bottom: 40px;
  }
  .hero-restaurant-title {
    font-size: 80px;
    padding-bottom: 32px;
  }
  .hero-restaurant-img {
    padding-bottom: 40px;
    width: 436px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-restaurant {
    padding-top: 0;
    padding-bottom: 48px;
  }
  .hero-restaurant-container {
    position: relative;
  }
  .hero-restaurant-title {
    font-size: 90px;
    padding-top: 204px;
  }
  .hero-restaurant-img {
    padding-bottom: 0;
    position: absolute;
    top: 30px;
    left: 737px;
    height: 580px;
  }
  .hero-restaurant-list {
    padding-bottom: 204px;
  }
}