.hero-restaurant{
background-color: var(--main-white-color);
}
.hero-restaurant-title{
    font-weight: 400;
font-size: 40px;
line-height: 1;
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--main-black-color);
}
.hero-restaurant-btn{
    color: var(--main-black-color);
}
.hero-restaurant-link{
    display: inline-block;
    color: var(--main-black-color);
}
.hero-restaurant-text{
    font-weight: 400;
font-size: 14px;
line-height: 1.29;
letter-spacing: 0.05em;
text-transform: uppercase;
color: (--main-black-color);
}