.restaurant-menu {
  background-color: var(--main-black-color);
}
.restaurant-menu-title {
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--main-white-color);
}
.restaurant-menu-subtitle {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--main-white-color);
}

.restaurant-menu-item {
}
.restaurant-menu-dishes {
  text-transform: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-white-color);
}
.restaurant-menu-text {
  text-transform: none;
  font-family: 'geometria';
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.18em;
  color: rgba(216, 215, 215, 0.5);
}
.restaurant-price-wrap {
}
.restaurant-menu-weight {
  text-transform: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #d8d7d7;
}
.restaurant-menu-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-white-color);
}
.restaurant-menu-btn {
  transition: background-color var(--cubic-bezier), color var(--cubic-bezier),
    border-color var(--cubic-bezier);
}
.restaurant-menu-btn:is(:hover, :focus) {
  color: var(--main-black-color);
  background-color: var(--main-white-color);
  border-color: var(--main-white-color);
}
