<section class="double-room">
  <div class="container">
    <ul class="double-room-img-list list">
      <li class="double-room-img-item">
        <picture class="double-room-img-first">
          <source
            srcset="
              /images/pages/hotel-page/double-room/double-room-1-desctop@1x.jpg
            "
            media="(min-width: 1440px)"
            type="image/jpg"
          />
          <source
            srcset="
              /images/pages/hotel-page/double-room/double-room-1-tablet@1x.jpg
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="double-room-img"
            src="/images/pages/hotel-page/double-room/double-room-1-mobile@1x.jpg"
            alt="Double luxury room"
          />
        </picture>
      </li>
      <li>
        <ul class="double-room-img-wrap list">
          <li class="double-room-img-item">
            <picture>
              <source
                srcset="
                  /images/pages/hotel-page/double-room/double-room-2-desctop@1x.jpg
                "
                media="(min-width: 1440px)"
                type="image/jpg"
              />
              <source
                srcset="
                  /images/pages/hotel-page/double-room/double-room-2-tablet@1x.jpg
                "
                media="(min-width: 768px)"
                type="image/jpg"
              />
              <img
                class="double-room-img"
                src="/images/pages/hotel-page/double-room/double-room-2-mobile@1x.jpg"
                alt="Double luxury bathroom"
              />
            </picture>
          </li>
          <li class="double-room-img-item">
            <picture>
              <source
                srcset="
                  /images/pages/hotel-page/double-room/double-room-3-desctop@1x.jpg
                "
                media="(min-width: 1440px)"
                type="image/jpg"
              />
              <source
                srcset="
                  /images/pages/hotel-page/double-room/double-room-3-tablet@1x.jpg
                "
                media="(min-width: 768px)"
                type="image/jpg"
              />
              <img
                class="double-room-img"
                src="/images/pages/hotel-page/double-room/double-room-3-mobile@1x.jpg"
                alt="Double luxury kitchen"
              />
            </picture>
          </li>
        </ul>
      </li>
    </ul>
    <div class="double-room-thumb">
      <div>
        <h2 class="double-room-title">Double Luxury Room</h2>
        <div class="double-room-text-wrap">
          <p class="double-room-features-text">
            Experience luxury in our Double Luxury Room at Mimino Hotel. This
            spacious room features a comfortable bed, private bathroom,
            flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
            curtains, and soundproofing ensure a peaceful night's sleep.
          </p>
          <p class="double-room-relax-text">
            Relax after a busy day at the writing desk or armchair. Book now for
            a convenient and comfortable stay.
          </p>
        </div>
      </div>
      <ul class="double-room-btn-list list">
        <li class="double-room-btn-item">
          <a href="/room.html" class="double-room-link link btn"
            >More details</a
          >
        </li>
        <li class="double-room-btn-item">
          <button type="button" class="double-room-btn btn">View prices</button>
        </li>
      </ul>
    </div>
  </div>
</section>
