<section class="triple-room">
  <div class="container">
    <div class="triple-room-container">
      <ul class="triple-room-img-list list ">
        <li class="triple-room-img-first">
          <picture>
            <source srcset="/images/pages/hotel-page/triple-room/triple-room-1-desctop@1x.jpg 1x"
                media="(min-width: 1440px)"
                type="image/jpeg" />

            <source srcset="/images/pages/hotel-page/triple-room/triple-room-1-tablet@1x.jpg 1x"
                media="(min-width: 768px)"
                type="image/jpeg" />

            <img
                class="triple-room-img"
                src="/images/pages/hotel-page/triple-room/triple-room-1-mobile@1x.jpg"
                alt="bedroom"
              />
          </picture>
        </li>
        <li class="triple-room-img-second">
          <picture>
            <source srcset="/images/pages/hotel-page/triple-room/triple-room-2-desctop@1x.jpg 1x"
                type="image/jpeg"
                media="(min-width: 1440px)" />

            <source srcset="/images/pages/hotel-page/triple-room/triple-room-2-tablet@1x.jpg 1x"
                type="image/jpeg"
                media="(min-width: 768px)" />

            <img
                class="triple-room-img"
                src="/images/pages/hotel-page/triple-room/triple-room-2-mobile@1x.jpg"
                alt="bathroom"
              />
          </picture>
        </li>
        <li class="triple-room-img-third triple-room-img-absolute">
          <picture>
            <source srcset="/images/pages/hotel-page/triple-room/triple-room-3-desctop@1x.jpg 1x"
              type="image/jpeg"
              media="(min-width: 1440px)" />

            <source srcset="/images/pages/hotel-page/triple-room/triple-room-3-tablet@1x.jpg 1x"
              type="image/jpeg"
              media="(min-width: 768px)" />

            <img
                class="triple-room-img"
                src="/images/pages/hotel-page/triple-room/triple-room-3-mobile@1x.jpg"
                alt="kitchen"
              />
          </picture>
        </li>
      </ul>
    </div>
    <div class="triple-room-wrap">
      <div class="triple-room-discription">
        <h2 class="triple-room-title">Triple Room</h2>
        <div class="triple-room-text-wrap">
            <p class="triple-room-text triple-room-text-first">
              Escape to our spacious Triple Room, perfect for families or groups. Enjoy
              comfort with three beds, seating area, stunning views, flat-screen TVs,
              Wi-Fi, and mini-fridge.
            </p>
            <p class="triple-room-text triple-room-text-second">
              Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book
              now for a memorable stay.
            </p>
        </div>
      </div>   
      <ul class="triple-room-btn-list list">
        <li class="triple-room-btn-item">
          <a class="triple-room-link link btn" href="/src/room.html"
            >More details</a
          >
        </li>
        <li class="triple-room-btn-item">
          <button class="triple-room-btn btn" type="button">View prices</button>
        </li>
      </ul>
    </div>
  </div>
</section>
