<section class="amenities">
  <div class="container">
    <h2 class="visually-hidden">Amenities</h2>
    <ul class="amenities-main-list list">
      <li class="amenities-main-item">
        <h3 class="amenities-title">General Amenities &amp; Facilities:</h3>
        <ul class="amenities-list">
          <li class="amenities-item">
            <p class="amenities-text">24-hour front desk service</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Daily housekeeping</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Free Wi-Fi throughout the hotel</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Elevator access</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Luggage storage</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Non-smoking rooms available</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Meeting rooms for business and events</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">On-site parking (surcharge)</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Concierge services</p>
          </li>
        </ul>
      </li>
      <li class="amenities-main-item">
        <h3 class="amenities-title">Bathroom:</h3>
        <ul class="amenities-list">
          <li class="amenities-item">
            <p class="amenities-text">Private bathroom with shower</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Complimentary toiletries</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Hair dryer</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Fresh towels daily</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">
              Deluxe bathrobes (in some room categories)
            </p>
          </li>
        </ul>
      </li>
      <li class="amenities-main-item">
        <h3 class="amenities-title">Bedroom:</h3>
        <ul class="amenities-list">
          <li class="amenities-item">
            <p class="amenities-text">
              Comfortable beds with high-quality linens
            </p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Blackout curtains</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">
              Climate control (air conditioning and heating)
            </p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Safe for valuables</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Writing desk and chair</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Flat-screen TV with cable channels</p>
          </li>
        </ul>
      </li>
      <li class="amenities-main-item">
        <h3 class="amenities-title">Kitchen:</h3>
        <ul class="amenities-list">
          <li class="amenities-item">
            <p class="amenities-text">
              In-room kitchenette (in some room categories)
            </p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Refrigerator</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Microwave</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Electric kettle</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Cooking utensils and cutlery</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Dining table and chairs</p>
          </li>
        </ul>
      </li>
      <li class="amenities-main-item">
        <h3 class="amenities-title">Media:</h3>
        <ul class="amenities-list">
          <li class="amenities-item">
            <p class="amenities-text">Flat-screen TV with cable channels</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">High-speed Wi-Fi</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">iPod docking station</p>
          </li>
          <li class="amenities-item">
            <p class="amenities-text">Speaker system</p>
          </li>
          <li class="amenities-item">
            <p>Electrical outlets for charging devices.</p>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="amenities-img-list list">
      <li class="amenities-img-item">
        <img
          src="../images/pages/room-page/amenities/amenities-1-mobile@1x.jpg"
          alt="A bathroom in the hotel room"
          width="259"
          class="amenities-img"
        />
      </li>
      <li class="amenities-img-item">
        <img
          src="../images/pages/room-page/amenities/amenities-2-mobile@1x.jpg"
          alt="Complimentary toiletries"
          width="207"
          class="amenities-img"
        />
      </li>
    </ul>
    <button class="amenities-btn btn" type="button">Book a room</button>
  </div>
</section>
