<section class="amenities">
    <div class="container">
    <h2 class="amenities-title visually-hidden">
        Amenities
    </h2>
    <ul class="amenities-list list">
        <li class="amenities-list-item">
            <h3 class="amenities-list-title">
                General Amenities &amp; Facilities:
            </h3>
            <ul class="amenities-list2">
                <li class="amenities-list2-item">
                    24-hour front desk service
                </li>
                <li class="amenities-list2-item">
                    Daily housekeeping
                </li>
                <li class="amenities-list2-item">
                    Free Wi-Fi throughout the hotel
                </li>
                <li class="amenities-list2-item">
                    Elevator access
                </li>
                <li class="amenities-list2-item">
                    Luggage storage
                </li>
                <li class="amenities-list2-item">
                    Non-smoking rooms available
                </li>
                <li class="amenities-list2-item">
                    Meeting rooms for business and events
                </li>
                <li class="amenities-list2-item">
                    On-site parking (surcharge)
                </li>
                <li class="amenities-list2-item">
                    Concierge services
                </li>
            </ul>
        </li>
    </ul>
    <ul class="amenities-list">
        <li class="amenities-list-item">
            <h3 class="amenities-list-title">
                Bathroom:
            </h3>
            <ul class="amenities-list2">
                <li class="amenities-list2-item">
                    Private bathroom with shower
                </li>
                <li class="amenities-list2-item">
                    Complimentary toiletries
                </li>
                <li class="amenities-list2-item">
                    Hair dryer
                </li>
                <li class="amenities-list2-item">
                    Fresh towels daily
                </li>
                <li class="amenities-list2-item">
                    Deluxe bathrobes (in some room categories)
                </li>
            </ul>
        </li>
    </ul>
    <ul class="amenities-list">
        <li class="amenities-list-item">
            <h3 class="amenities-list-title">
                Bedroom:
            </h3>
            <ul class="amenities-list2">
                <li class="amenities-list2-item">
                    Comfortable beds with high-quality linens
                </li>
                <li class="amenities-list2-item">
                    Blackout curtains
                </li>
                <li class="amenities-list2-item">
                    Climate control (air conditioning and heating)
                </li>
                <li class="amenities-list2-item">
                    Safe for valuables
                </li>
                <li class="amenities-list2-item">
                    Writing desk and chair
                </li>
                <li class="amenities-list2-item">
                    Flat-screen TV with cable channels
                </li>
            </ul>
        </li>
    </ul>
    <ul class="amenities-list">
        <li class="amenities-list-item">
            <h3 class="amenities-list-title">
                Kitchen:
            </h3>
            <ul class="amenities-list2">
                <li class="amenities-list2-item">
                    In-room kitchenette (in some room categories)
                </li>
                <li class="amenities-list2-item">
                    Refrigerator
                </li>
                <li class="amenities-list2-item">
                    Microwave
                </li>
                <li class="amenities-list2-item">
                    Electric kettle
                </li>
                <li class="amenities-list2-item">
                    Cooking utensils and cutlery
                </li>
                <li class="amenities-list2-item">
                    Dining table and chairs
                </li>
            </ul>
        </li>
    </ul>
    <ul class="amenities-list">
        <li class="amenities-list-item">
            <h3 class="amenities-list-title">
                Media:
            </h3>
            <ul class="amenities-list2">
                <li class="amenities-list2-item">
                    Flat-screen TV with cable channels
                </li>
                <li class="amenities-list2-item">
                    High-speed Wi-Fi
                </li>
                <li class="amenities-list2-item">
                    iPod docking station
                </li>
                <li class="amenities-list2-item">
                    Speaker system
                </li>
                <li class="amenities-list2-item">
                    Electrical outlets for charging devices.
                </li>
            </ul>
        </li>
    </ul>
    <img
    src="../images/pages/room-page/amenities/amenities-1-mobile@1x.jpg" 
    alt="A bathroom in the hotel room" 
    width="259"
    class="amenities-img">
    <img
    src="../images/pages/room-page/amenities/amenities-2-mobile@1x.jpg" 
    alt="Complimentary toiletries" 
    width="207"
    class="amenities-img">
    <button class="amenities-btn btn">
        Book a room
    </button>
    </div>
</section>