<section class="about-complex">
  <div class="container">
    <h2 class="visuality-hidden">About complex</h2>
    <div class="about-complex-top-wrap">
      <ul class="about-complex-img-list list">
        <li class="about-complex-item">
          <picture>
            <source
              type="image/jpeg"
              srcset="/images/about-complex/about-complex-1-desctop@1x.jpg 1x"
              media="(min-width: 1440px)"
            />
            <source
              type="image/jpeg"
              srcset="/images/about-complex/about-complex-1-tablet@1x.jpg 1x"
              media="(min-width: 768px)"
            />
            <source
              type="image/jpeg"
              srcset="/images/about-complex/about-complex-1-mobile@1x.jpg 1x"
              media="(max-width: 767px)"
            />
            <img
              class="about-complex-img"
              src="/images/about-complex/about-complex-1-mobile@1x.jpg"
              alt="room"
            />
          </picture>
          <div class="about-complex-rewiew maria">
            <img
              class="about-complex-rewiew-img"
              src="/images/about-complex/about-complex-maria@1x.png"
              alt="Maria"
            />
            <div class="about-complex-rewiew-wrap">
              <p class="about-complex-rewiew-name">Maria</p>
              <p class="about-complex-rewiew-rating">
                give rating <span>4.5</span>
              </p>
            </div>
          </div>
        </li>
        <li class="about-complex-item">
          <picture>
            <source
              type="image/jpeg"
              media="(min-width: 1440px)"
              srcset="/images/about-complex/about-complex-2-desctop@1x.jpg 1x"
            />
            <source
              type="image/jpeg"
              media="(min-width: 768px)"
              srcset="/images/about-complex/about-complex-2-tablet@1x.jpg 1x"
            />
            <source
              type="image/jpeg"
              media="(max-width: 767px)"
              srcset="/images/about-complex/about-complex-2-mobile@1x.jpg 1x"
            />
            <img
              class="about-complex-img"
              src="/images/about-complex/about-complex-2-mobile@1x.jpg"
              alt="bath-room"
            />
          </picture>
        </li>
      </ul>
      <div class="about-complex-sub-wrap">
        <h3 class="about-complex-suptitle">restaurant-hotel complex</h3>
        <p class="about-complex-top-text about-complex-base-text">
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining
          experience.
        </p>
        <p class="about-complex-text about-complex-base-text">
          Treat yourself to a taste of the good life and come dine with us
          today!
        </p>
      </div>
    </div>
    <div class="about-complex-desktop-wrap">
      <div class="about-complex-wrap">
        <picture>
          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            srcset="/images/about-complex/about-complex-3-desctop@1x.jpg 1x"
          />
          <source
            type="image/jpeg"
            media="(min-width: 768px)"
            srcset="/images/about-complex/about-complex-3-tablet@1x.jpg 1x"
          />
          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            srcset="/images/about-complex/about-complex-3-mobile@1x.jpg 1x"
          />
          <img
            class="about-complex-img"
            src="/images/about-complex/about-complex-3-mobile@1x.jpg"
            alt="table-two-wine-glass"
          />
        </picture>
        <div class="about-complex-rewiew alex">
          <img
            class="about-complex-rewiew-img"
            src="/images/about-complex//about-complex-alex@1x.png"
            alt="Alexander"
          />
          <div class="about-complex-rewiew-wrap">
            <p class="about-complex-rewiew-name">Alexander</p>
            <p class="about-complex-rewiew-rating">
              give rating <span>5.5</span>
            </p>
          </div>
        </div>
      </div>
      <div class="about-complex-bottom-wrap">
        <div class="about-complex-text-wrap">
          <h3 class="about-complex-suptitle">business class hotel</h3>
          <p class="about-complex-bottom-text about-complex-base-text">
            The Mimino hotel features spacious and stylish double luxury rooms
            with modern amenities for a comfortable stay.
          </p>
        </div>
        <picture class="about-complex-bottom-img">
          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            srcset="/images/about-complex/about-complex-4-desctop@1x.jpg 1x"
          />
          <source
            type="image/jpeg"
            media="(min-width: 768px)"
            srcset="/images/about-complex/about-complex-4-tablet@1x.jpg 1x"
          />
          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            srcset="/images/about-complex/about-complex-4-mobile@1x.jpg 1x"
          />
          <img
            class="about-complex-img"
            src="/images/about-complex/about-complex-4-mobile@1x.jpg"
            alt="diner-room"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
