<section class="about-complex">
    <h1 class="visualitty-hidden">About complex</h1>
    <img src="../images/about-complex/about-complex-1-mobile@1x.jpg" alt="room" width="335">
    <img src="../images/about-complex/about-complex-test-mobile@1x.jpeg" alt="bath-room" width="282">
    <h2 class="about-complex-title">restaurant-hotel complex</h2>
    <p class="about-complex-top-text">Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest
        seafood to the most succulent
        steaks,
        every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.</p>
    <p class="about-complex-text">Treat yourself to a taste of the good life and come dine with us today!</p>
    <img src="../images/about-complex/about-complex-3-mobile@1x.jpg" alt="table-two-wine-glass" width="335">
    <h2 class="about-complex-title">business class hotel</h2>
    <p class="about-complex-bottom-text">The Mimino hotel features spacious and stylish double luxury rooms with modern
        amenities for a comfortable stay.</p>
    <img src="../images/about-complex/about-complex-4-mobile@1x.jpg" alt="diner-room" width="335">
</section>