<section class="about-complex">
  <div class="container">
    <h2 class="visuality-hidden">About complex</h2>
    <ul class="about-complex-img list">
      <li class="about-complex-item">
        <img
          class="about-complex-img"
          src="../images/about-complex/about-complex-1-mobile@1x.jpg"
          alt="room"
          width="335"
        />
      </li>
      <li class="about-complex-item">
        <img
          class="about-complex-img"
          src="../images/about-complex/about-complex-test-mobile@1x.jpeg"
          alt="bath-room"
          width="282"
        />
      </li>
    </ul>
    <h3 class="about-complex-title">restaurant-hotel complex</h3>
    <p class="about-complex-top-text">
      Indulge in a taste of luxury with every bite at Hotel Mimino. From the
      freshest seafood to the most succulent steaks, every dish is crafted with
      care to ensure that you enjoy a truly memorable dining experience.
    </p>
    <p class="about-complex-text">
      Treat yourself to a taste of the good life and come dine with us today!
    </p>
    <img
      class="about-complex-img"
      src="../images/about-complex/about-complex-3-mobile@1x.jpg"
      alt="table-two-wine-glass"
      width="335"
    />
    <h3 class="about-complex-title">business class hotel</h3>
    <p class="about-complex-bottom-text">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
    <img
      class="about-complex-img"
      src="../images/about-complex/about-complex-4-mobile@1x.jpg"
      alt="diner-room"
      width="335"
    />
  </div>
</section>
