<div class="book-table-modal-backdrop">
    <div class="book-table-modal">
        <svg class="book-table-modal-close-btn" width="28" height="28">
            <use href="../images/sprite/icons.svg#icon-close"></use>
        </svg>
        <p class="book-table-modal-title">book <span class="italic">a table</span></p>
        <form class="book-table-modal-form">
            <lable class="book-table-modal-form-fieled">
                <span class="book-table-modal-form-placeholder"></span>
                <input 
                name="user_name" 
                type="text" 
                class="book-table-modal-form-input" 
                pattern="[a-zA-zа-яА-ЯіІїЇ]+" 
                required 
                minlength="2">
            </lable>
            <lable class="book-table-modal-form-fieled">
                <input 
                type="text" 
                class="book-table-modal-form-input">
            </lable>
            <lable class="book-table-modal-form-fieled">
                <input type="text" class="book-table-modal-form-input">
            </lable>
            <lable class="book-table-modal-form-fieled">
                <input type="text" class="book-table-modal-form-input">
            </lable>
            <button type="submit">make a reservation</button>
        </form>
    </div>
</div>