<div class="prices-room-modal">
  <button
    class="table-modal-close-btn"
    data-main-modal-close
    data-hotel-modal-close
    data-room-modal-close
  >
    <svg class="table-modal-close-icon" width="28" height="28">
      <use href="/images/sprite/icons.svg#icon-close"></use>
    </svg>
  </button>
  <p class="table-modal-title">book<span class="italic">a room</span></p>
  <form class="table-modal-form">
    <label class="table-modal-form-fieled">
      <input
        name="user_name"
        type="text"
        class="table-modal-form-input name-input"
        pattern="[a-zA-zа-яА-ЯіІїЇ]+"
        required
        minlength="2"
        placeholder="your name"
      />
      <span class="table-modal-form-input-desc"
        >who should book a table for?</span
      >
    </label>
    <label class="table-modal-form-fieled">
      <input
        name="user_phone"
        type="number"
        class="table-modal-form-input"
        required
        pattern="[0-9]+"
        placeholder="+38 ()"
      />
      <span class="table-modal-form-input-desc">phone number</span>
    </label>
    <label class="table-modal-form-fieled">
      <select class="table-modal-form-select" name="number_of_people">
        <option value="">today</option>
        <option value="">tomorrow</option>
        <option value="">another day</option>
      </select>
      <span class="table-modal-form-input-desc">check-in date</span>
    </label>
    <label class="table-modal-form-fieled">
      <input
        class="table-modal-form-input"
        name="check_in_date"
        type="date"
        required
        value="2023-04-25"
      />
      <span class="table-modal-form-input-desc">Check-in date</span>
    </label>
    <label class="table-modal-form-fieled number-category">
      <select class="table-modal-form-select" name="number_category">
        <option value="double_suite">Double suite</option>
        <option value="triple_room">Triple Room</option>
        <option value="four_seater">four-seater</option>
      </select>
      <span class="table-modal-form-input-desc">Number category</span>
    </label>
    <button class="reservation-submit-btn" type="submit">
      make a reservation
    </button>
  </form>
</div>
