<header class="header">
  <div class="container">
    <button type="button" class="header-btn">
      <svg class="icon-open">
        <use
          href="../images/sprite/icons.svg#icon-burger"
          height="28"
          width="28"
        ></use>
      </svg>
    </button>
    <a class="header-logo-link link" href=""
      ><span>mimino</span>restaurant-hotel complex</a
    >
    <div class="mobile-menu">
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a class="header-nav-link" href="../index.html">home</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="../hotel.html">hotel</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="../restaurant.html">restaurant</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
