<header class="header">
  <div class="header-container container">
    <button type="button" class="header-btn">
      <svg class="menu-btn" height="28" width="28">
        <use href="../images/sprite/icons.svg#icon-burger"></use>
        <use href="../images/sprite/icons.svg#icon-close"></use>
      </svg>
    </button>
    <a class="header-logo-link link" href="/index.html"
      ><span>mimino</span>restaurant-hotel complex</a
    >
    <div class="mobile-menu">
      <nav class="header-nav">
        <ul class="header-nav-list list">
          <li class="header-nav-item">
            <a class="header-nav-link link" href="/index.html">home</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link link" href="/hotel.html">hotel</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link link" href="/restaurant.html"
              >restaurant</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
