<section class="hero-main">
  <div class="container">
    <h1 class="main-title">Mimino</h1>
    <div class="hero-main-btn-wrapper">
      <button class="btn" type="button">book a room</button>
      <button class="btn" type="button">book a table</button>
    </div>
    <div class="hero-main-desc-wrapper">
      <p class="hero-main-desc">
        Whether you're in the mood for a hearty breakfast, a light lunch, or a
        romantic dinner, our menu has something for everyone.
      </p>
      <p class="hero-main-desc">
        At Hotel Mimino, we believe that great food should be available to
        everyone, no matter the time of day.
      </p>
    </div>
  </div>
</section>
