<section class="hero-main">
  <div class="container">
    <div class="bg-img-hero-main"></div>
    <h1 class="hero-main-title">Mimino</h1>
    <ul class="hero-main-list list">
      <li class="hero-main-item">
        <button class="hero-main-btn btn" type="button">book a room</button>
      </li>
      <li class="hero-main-item">
        <button class="hero-main-btn btn" type="button">book a table</button>
      </li>
    </ul>
    <div class="main-hero-texy-wrapper">
    <p class="hero-main-text">
      Whether you're in the mood for a hearty breakfast, a light lunch,
      <span class="italic">or a romantic dinner</span>, our menu has something
      for everyone.
    </p>
    <p class="hero-main-text">
      At Hotel Mimino, <span class="italic"> we believe </span> that great food
      should be available to everyone, no matter the time of day.
    </p>
  </div>
  </div>
</section>
