<section class="hero-main">
  <div class="container">
    <h1 class="hero-main-title">Mimino</h1>
    <button class="hero-main-btn btn" type="button">book a room</button>
    <button class="hero-main-btn btn" type="button">book a table</button>
    <p class="hero-main-desc">
      Whether you're in the mood for a hearty breakfast, a light lunch, or a
      romantic dinner, our menu has something for everyone.
    </p>
    <p class="hero-main-desc">
      At Hotel Mimino, we believe that great food should be available to
      everyone, no matter the time of day.
    </p>
  </div>
</section>
