<section class="hotel-details">
  <div class="container">
    <h2 class="hotel-details-title">Hotel</h2>
    <p class="hotel-details-text">
      Book your stay with us now and experience the epitome of comfort and
      luxury at our hotel. We guarantee you'll be thrilled with your decision.
    </p>
    <ul class="hotel-details-list list">
      <li class="hotel-details-item">
        <img
          class="hotel-details-img"
          src="../images/hotels-details/hotels-details-1@1x.jpg"
          alt="Hotel room"
        />
      </li>
      <li class="hotel-details-item">
        <img
          class="hotel-details-img"
          src="../images/hotels-details/hotels-details-2@1x.jpg"
          alt="Bathroom accessories"
        />
      </li>
      <li class="hotel-details-item">
        <img
          class="hotel-details-img"
          src="../images/hotels-details/hotels-details-3@1x.jpg"
          alt="Hotel bathroom"
        />
      </li>
    </ul>
    <ul class="button-list list">
      <button type="button" class="btn hotel-details-btn">Book a room</button>
      <a class="hotel-details-link btn link" href="../hotel.html">View room</a>
    </ul>
  </div>
</section>
