<section class="hotel-details">
  <div class="container">
    <div class="hotel-details-title-wrap">
      <h2 class="hotel-details-title">Hotel</h2>
      <p class="hotel-details-text">
        Book your stay with us now and experience the epitome of comfort and
        luxury at our hotel. We guarantee you'll be thrilled with your decision.
      </p>
    </div>
    <ul class="hotel-details-list list">
      <li>
        <ul class="hotel-details-img-wrap hotel-hidden-wrap list">
          <li class="hotel-details-item">
            <picture>
              <source
                srcset="/images/hotels-details/hotels-details-4-desctop@1x.jpg"
                media="(min-width: 1440px)"
                type="image/jpg"
              />
              <img
                class="hotel-details-img"
                src="/images/hotels-details/hotels-details-4-tablet@1x.jpg"
                alt="Hotel room"
              />
            </picture>
          </li>
          <li class="hotel-details-item">
            <picture>
              <source
                srcset="/images/hotels-details/hotels-details-5-desctop@1x.jpg"
                media="(min-width: 1440px)"
                type="image/jpg"
              />
              <img
                class="hotel-details-img"
                src="/images/hotels-details/hotels-details-5-tablet@1x.jpg"
                alt="Hotel room"
              />
            </picture>
          </li>
        </ul>
      </li>
      <li class="hotel-details-item hotel-details-static">
        <picture>
          <source
            srcset="/images/hotels-details/hotels-details-1-desctop@1x.jpg"
            media="(min-width: 1440px)"
            type="image/jpg"
          />
          <source
            srcset="/images/hotels-details/hotels-details-1-tablet@1x.jpg"
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="hotel-details-img"
            src="/images/hotels-details/hotels-details-1-mobile@1x.jpg"
            alt="Hotel room"
            type="image/jpg"
          />
        </picture>
      </li>
      <li>
        <ul class="hotel-details-img-wrap list">
          <li class="hotel-details-item">
            <picture>
              <source
                srcset="/images/hotels-details/hotels-details-2-desctop@1x.jpg"
                media="(min-width: 1440px)"
                type="image/jpg"
              />
              <source
                srcset="/images/hotels-details/hotels-details-2-tablet@1x.jpg"
                media="(min-width: 768px)"
                type="image/jpg"
              />
              <img
                class="hotel-details-img"
                src="/images/hotels-details/hotels-details-2-mobile@1x.jpg"
                alt="Bathroom accessories"
              />
            </picture>
          </li>
          <li class="hotel-details-item">
            <picture>
              <source
                srcset="/images/hotels-details/hotels-details-3-desctop@1x.jpg"
                media="(min-width: 1440px)"
                type="image/jpg"
              />
              <source
                srcset="/images/hotels-details/hotels-details-3-tablet@1x.jpg"
                media="(min-width: 768px)"
                type="image/jpg"
              />
              <img
                class="hotel-details-img"
                src="/images/hotels-details/hotels-details-3-mobile@1x.jpg"
                alt="Hotel bathroom"
              />
            </picture>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="hotel-details-btn-list list">
      <li class="hotel-details-btn-item">
        <button type="button" class="hotel-details-btn btn">Book a room</button>
      </li>
      <li class="hotel-details-btn-item">
        <a class="hotel-details-link btn link" href="../hotel.html"
          >View room</a
        >
      </li>
    </ul>
  </div>
</section>
