<section class="location">
  <div class="container">
    <h2 class="location-title">location</h2>
    <img
      src="../images/location-contacts/location-contacts-map-mobile@1x.jpg"
      alt="map"
      width="335"
      class="location-img"
    />
    <p class="location-text">Ukraine, Poltava, St. Marshal Biryuzov, 15</p>
    <p class="location-subtitle">call us:</p>
    <address class="location-address">
      <ul class="location-list list">
        <li class="location-item">
          <a href="tel:(095) 555 95 33" class="location-link link"
            >(095) 555 95 33</a
          >
        </li>
        <li class="location-item">
          <a href="tel:0668491089" class="location-contacts link"
            >(066) 849 10 89</a
          >
        </li>
      </ul>
    </address>
  </div>
</section>
