<section class="restaurants-details">
  <div class="container">
    <h2 class="restaurants-details-title">Restaurant</h2>
    <p class="restaurants-details-text">
      Relax and unwind with our delicious offerings, available any time of day.
    </p>
    <img
      src="../images/restaurants-details/about-restaurant-1@1x.jpg"
      alt="A coctail with a strawberry in the glass"
      width="157"
    />
    <img
      src="../images/restaurants-details/about-restaurant-2@1x.jpg"
      alt="A man cooking"
      width="157"
    />
    <ul class="restaurants-list">
      <li class="restaurants-item">
        <button type="button" class="restaurants-details-btn btn">
          Book a table
        </button>
      </li>
      <li class="restaurants-item">
        <a href="#restaurant-menu" class="restaurants-details-btn btn"
          >View the menu</a
        >
      </li>
    </ul>
  </div>
</section>
