<section class="restaurants-details">
  <div class="restaurants-details-container container">
    <div class="restaurants-details-wrap">
      <h2 class="restaurants-details-title">Restaurant</h2>
      <p class="restaurants-details-text">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>
    <ul class="restaurants-details-img-list list">
      <li class="restaurants-details-img-item">
        <picture>
          <source
            srcset="
              /images/restaurants-details/about-restaurant-1-desctop@1x.jpg 1x,
              /images/restaurants-details/about-restaurant-1-desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /images/restaurants-details/about-restaurant-1-tablet@1x.jpg 1x,
              /images/restaurants-details/about-restaurant-1-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:768px)"
          />
          <source
            type="image/jpeg"
            srcset="
              /images/restaurants-details/about-restaurant-1-mobile@1x.jpg 1x,
              /images/restaurants-details/about-restaurant-1-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/images/restaurants-details/about-restaurant-1-mobile@1x.jpg"
            alt="restaurants glass"
          />
        </picture>
      </li>
      <li class="restaurants-details-img-item">
        <picture>
          <source
            srcset="
              /images/restaurants-details/about-restaurant-2-desctop@1x.jpg 1x,
              /images/restaurants-details/about-restaurant-2-desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /images/restaurants-details/about-restaurant-2-tablet@1x.jpg 1x,
              /images/restaurants-details/about-restaurant-2-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:768px)"
          />
          <source
            srcset="
              /images/restaurants-details/about-restaurant-2-mobile@1x.jpg 1x,
              /images/restaurants-details/about-restaurant-2-mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width:767px)"
          />
          <img
            src="/images/restaurants-details/about-restaurant-2-mobile@1x.jpg"
            alt="restaurants cheff"
          />
        </picture>
      </li>
      <li class="restaurants-details-img-item desctop">
        <picture>
          <source
            srcset="
              /images/restaurants-details/about-restaurant-3-desctop@1x.jpg 1x,
              /images/restaurants-details/about-restaurant-3-desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:1440px)"
          />
          <img
            src="/images/restaurants-details/about-restaurant-3-desctop@1x.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="restaurants-details-img-item desctop">
        <picture>
          <source
            srcset="
              /images/restaurants-details/about-restaurant-4-desctop@1x.jpg 1x,
              /images/restaurants-details/about-restaurant-4-desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:1440px)"
          />
          <img
            src="/images/restaurants-details/about-restaurant-4-desctop@1x.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="restaurants-details-img-item desctop">
        <picture>
          <source
            srcset="
              /images/restaurants-details/about-restaurant-5-desctop@1x.jpg 1x,
              /images/restaurants-details/about-restaurant-5-desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:1440px)"
          />
          <img
            src="/images/restaurants-details/about-restaurant-5-desctop@1x.jpg"
            alt=""
          />
        </picture>
      </li>
    </ul>
    <ul class="restaurants-btn-list list">
      <li class="restaurants-details-item">
        <button
          type="button"
          class="restaurants-details-btn btn"
          data-main-modal-table-open-second
        >
          Book a table
        </button>
      </li>
      <li class="restaurants-detils-item">
        <a href="./restaurant.html" class="restaurants-details-link link btn"
          >View the menu</a
        >
      </li>
    </ul>
  </div>
</section>
